<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true" failOnWarning="true" failOnRisky="true" failOnIncomplete="true" failOnSkipped="true">
    <testsuites>
        <testsuite name="Live IPPanel PR validation">
            <file>LiveIPPanelFlowStepValidationTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
